$color-grey-light-1: #7a7a7a;
$color-grey-light-2: #c2c2c2;
$color-grey-light-3: #dfdddd;
$color-grey-light-4: #eeeeee;
$color-blue-light-1: #4aa4f8;
$color-blue-light-2: #29aad1b6;

$bg-color-light: #F9F8F7;

$color-white: #ffffff;