*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}
